[Unit]
Description=Wayland Idle Inhibitor (Pipewire)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/wayland-pipewire-idle-inhibit
Restart=on-failure

[Install]
WantedBy=graphical-session.target
