#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
  default_album_art_path: None,
  format_tag_separator: " | ",
  browser_column_widths: [20, 38, 42],
  background_color: "#1a1b26",
  modal_backdrop: true,
  text_color: "#c0caf5",
  header_background_color: "#1a1b26",
  modal_background_color: "#1a1b26",
  preview_label_style: (fg: "#cfc9c2"),
  preview_metadata_group_style: (fg: "#7aa2f7"),
  song_table_album_separator: None,
  tab_bar: (
    active_style: (fg: "#1a1b26", bg: "#7aa2f7", modifiers: "Bold"),
    inactive_style: (fg: "#565f89", bg: "#1a1b26"),
  ),
  highlighted_item_style: (fg: "#9ece6a", modifiers: "Bold"),
  current_item_style: (fg: "#1a1b26", bg: "#7aa2f7", modifiers: "Bold"),
  borders_style: (fg: "#7aa2f7", modifiers: "Bold"),
  highlight_border_style: (fg: "#7aa2f7"),
  symbols: (
    song: "󰝚 ", dir: "󱍙 ", playlist: "󰲸 ", marker: "* ", ellipsis: "…",
    song_style: (fg: "#7aa2f7"), dir_style: (fg: "#7aa2f7"),
  ),
  progress_bar: (
    symbols: ["", "█", "", "█", "" ],
    track_style: (fg: "#24283b", bg: "#1a1b26"),
    elapsed_style: (fg: "#7aa2f7", bg: "#1a1b26"),
    thumb_style: (fg: "#7aa2f7", bg: "#24283b"),
    use_track_when_empty: false,
  ),
  scrollbar: (
    symbols: ["│", "█", "▲", "▼"],
    track_style: (fg: "#7aa2f7"),
    ends_style: (fg: "#7aa2f7"),
    thumb_style: (fg: "#7aa2f7"),
  ),
  song_table_format: [
  (
      prop: (kind: Sticker("playCount"),style: (fg: "#7aa2f7"),
        default: (kind: Text(""), style: (fg: "#414868"))),
      width: "3",
      alignment: Center,
      label: "Playcount",
      label_prop: (kind: Group([
      (kind: Text("󰆙"), style: (fg: "#7aa2f7")),
      ]))
    ),
  (
      prop:(kind: Text("│"), style: (fg: "#7aa2f7")),
      width: "1",
      alignment: Center,
      label: "",
      label_prop: (kind: Group([
      (kind: Text("│"), style: (fg: "#7aa2f7")),
      ]))
    ),
  (
      prop: (kind: Property(Artist), style: (fg: "#7aa2f7"),
        default: (kind: Text("Unknown Artist"), style: (fg: "#7dcfff"))),
      width: "23%",
      label_prop: (kind: Group([
      (kind: Text("Artist "), style: (fg: "#c0caf5")),
      (kind: Text(""), style: (fg: "#7aa2f7"))
      ]))
    ),
  (
      prop: (kind: Property(Title), style: (fg: "#7aa2f7"),
        default: (kind: Property(Filename), style: (fg: "#7dcfff"),
          default: (kind: Text("Unknown Title"), style: (fg: "#7dcfff")))),
      width: "36%",
      label_prop: (kind: Group([
      (kind: Text("Title "), style: (fg: "#c0caf5")),
      (kind: Text(""), style: (fg: "#7aa2f7"))
      ]))
    ),
  (
      prop: (kind: Property(Album), style: (fg: "#7aa2f7"),
        default: (kind: Text("Unknown Album"), style: (fg: "#7dcfff"))),
      width: "33%",
      label_prop: (kind: Group([
      (kind: Text("Album "), style: (fg: "#c0caf5")),
      (kind: Text("󰀥"), style: (fg: "#7aa2f7"))
      ]))
    ),
  (
      prop: (kind: Property(Duration), style: (fg: "#7aa2f7"),
        default: (kind: Text("-"))),
      width: "8%",
      alignment: Right,
      label_prop: (kind: Group([
      (kind: Text("Length "), style: (fg: "#c0caf5")),
      (kind: Text(" "), style: (fg: "#7aa2f7"))
      ]))
    ),
  ],
  layout: Split(
    direction: Vertical, panes: [
    (size: "6", borders: "NONE", pane: Component("header")),
    (size: "100%", borders: "NONE", pane: Pane(TabContent)),
    (size: "3", borders: "NONE", pane: Component("progress_bar")),
    ]
  ),
  browser_song_format: [
  (kind: Group([
    (kind: Property(Track)),
    (kind: Text(" ")),
    ])),
  (kind: Group([
    (kind: Property(Artist)),
    (kind: Text(" - ")),
    (kind: Property(Title)),
    ]), default: (kind: Property(Filename)))
  ],
  level_styles: (
    info:  (fg: "#9ece6a", bg: "#1a1b26"),
    warn:  (fg: "#eecf66", bg: "#1a1b26"),
    error: (fg: "#f7768e", bg: "#1a1b26"),
    debug: (fg: "#ff9e64", bg: "#1a1b26"),
    trace: (fg: "#cfc9c2", bg: "#1a1b26"),
  ),
  components: {
    "header_line_0": Split(direction: Horizontal, panes: [
    (size: "12%", borders: "NONE", pane: Component("tab_bar_left")),
    (size: "76%", borders: "NONE", pane: Pane(Tabs)),
    (size: "12%", borders: "NONE", pane: Component("tab_bar_right")),
    ]),
    "header_line_1": Split(direction: Horizontal, panes: [
    (size: "22%", pane: Component("header_element_1")),
    (size: "1", pane: Component("header_element_space")),
    (size: "56%", pane: Component("header_element_2")),
    (size: "1", pane: Component("header_element_space")),
    (size: "22%", pane: Component("header_element_3")),
    (size: "2", pane: Component("header_element_right_end")),
    ]),
    "header_line_2": Split(direction: Horizontal, panes: [
    (size: "32%", pane: Component("header_element_4")),
    (size: "1", pane: Component("header_element_space")),
    (size: "56%", pane: Component("header_element_5")),
    (size: "1", pane: Component("header_element_space")),
    (size: "32%", pane: Component("header_element_6")),
    (size: "2", pane: Component("header_element_right_end")),
    ]),
    "header": Split(
      direction: Vertical, panes: [
      (size: "2", borders: "TOP | RIGHT | LEFT", border_symbols: Rounded,
          pane: Split(direction: Horizontal, panes: [
          (size: "100%", borders: "NONE", pane: Component("header_line_0")),
          ])
        ),
      (size: "4", borders: "ALL", border_symbols: Library("rounded_collapsed_top"),
          pane: Split(direction: Vertical, panes: [
          (size: "100%", borders: "NONE", pane: Component("header_line_1")),
          (size: "100%", borders: "NONE", pane: Component("header_line_2")),
          ])
        ),
      ]
    ),
    "progress_bar": Split(
      direction: Vertical, panes: [
      (size: "3", borders: "ALL", border_symbols: Rounded,
          border_title: [
          (kind: Property(Status(Elapsed)),style: (fg: "#c0caf5")),
          (kind: Property(Status(StateV2(playing_label: "─󱦟─", paused_label: "  ", stopped_label: "  "))),
              style: (fg: "#7aa2f7", modifiers: "Bold")),
          (kind: Property(Status(Duration)),style: (fg: "#c0caf5"))
          ],
          border_title_position: Top,
          border_title_alignment: Center,
          pane: Split(direction: Vertical, panes: [
          (size: "100%", borders: "NONE",pane: Pane(ProgressBar)),
          ])
        ),
      ]
    ),
    "tab_bar_left": Split(direction: Horizontal, panes: [
    (size: "100%", pane: Pane(Property(content: [
      (kind: Text(" "), style: (fg: "#7aa2f7", modifiers: "Bold")),
      (kind: Property(Status(StateV2(playing_label: "", paused_label: "", stopped_label: ""))),
          style: (fg: "#c0caf5")),
      (kind: Text("  "), style: (fg: "#7aa2f7", modifiers: "Bold")),
      (kind: Property(Song(FileExtension)), style: (fg: "#565f89")),
      (kind: Text(" ")),
      (kind: Property(Widget(ScanStatus)), style: (fg: "#c0caf5", modifiers: "Bold")),
      (kind: Text(" ")),
      (kind: Property(Status(InputBuffer())), style: (fg: "#565f89")),
      ], align: Left))
      ),
    ]),
    "tab_bar_right": Split(direction: Horizontal, panes: [
    (size: "100%", pane: Pane(Property(content: [
      (kind: Transform(Replace(content: (kind: Property(Status(Partition)), style: (fg: "#565f89")), replacements: [
        (match:  "default", replace: (kind: Group([(kind: Text(""))]))),
        ]))),
      (kind: Text(" ")),
      (kind: Property(Song(Channels())), style: (fg: "#565f89"),
          default: (kind: Text("0"), style: (fg: "#565f89"))),
      (kind: Text(" 󱡫 "),style: (fg: "#565f89")),
      (kind: Text(" 󱡬"), style: (fg: "#7aa2f7", modifiers: "Bold")),
      (kind: Property(Status(Volume)), style: (fg: "#c0caf5")),
      (kind: Text("% "), style: (fg: "#7aa2f7", modifiers: "Bold"))
      ], align: Right))
      ),
    ]),
    "header_element_1": Split(
      direction: Horizontal,
      panes: [
      (size: "100%", pane: Pane(Property(content: [
        (kind: Text("[ "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(Elapsed)),style: (fg: "#c0caf5")),
        (kind: Text(" / "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(Duration)),style: (fg: "#c0caf5")),
        (kind: Text(" 󱦟"),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Text(" ]"),style: (fg: "#7aa2f7", modifiers: "Bold")),
        ], align: Left))
        ),
      ]
    ),
    "header_element_2": Split(
      direction: Horizontal,
      panes: [
      (size: "100%", pane: Pane(Property(content: [
        (kind: Property(Song(Title)), style: (fg: "#bb9af7",modifiers: "Bold"),
            default: (kind: Property(Song(Filename)), style: (fg: "#bb9af7",modifiers: "Bold"),
              default: (kind: Text("Unknown Title"), style: (fg: "#bb9af7",modifiers: "Bold"))))
        ], align: Center, scroll_speed: 4))
        ),
      ]
    ),
    "header_element_3": Split(
      direction: Horizontal,
      panes: [
      (size: "100%", pane: Pane(Property(content: [
        (kind: Text("[ "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
            on_style: (fg: "#c0caf5", modifiers: "Bold"),
            off_style: (fg: "#565f89", modifiers: "Bold"))))),
        (kind: Text(" | "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(RandomV2(on_label: "", off_label: "",
            on_style: (fg: "#c0caf5", modifiers: "Bold"),
            off_style: (fg: "#565f89", modifiers: "Bold"))))),
        (kind: Text(" | "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊",
            on_style: (fg: "#c0caf5", modifiers: "Bold"),
            off_style: (fg: "#565f89", modifiers: "Bold"))))),
        (kind: Text(" | "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(SingleV2(on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
            on_style: (fg: "#c0caf5", modifiers: "Bold"),
            off_style: (fg: "#565f89", modifiers: "Bold"))))),
        (kind: Text(" | "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(Crossfade)),style: (fg: "#c0caf5"),
            default: (kind: Text("󰴽"), style: (fg: "#565f89"))),
        (kind: Text(" | "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Transform(Replace(content: (kind: Property(Status(InputMode()))), replacements: [
          (match:  "Normal", replace: (kind: Group([(kind: Text("N"),style: (fg: "#565f89", modifiers: "Bold"))]))),
          (match:  "Insert", replace: (kind: Group([(kind: Text("I"),style: (fg: "#c0caf5", modifiers: "Bold"))]))),
          ]))),
        ], align: Right))
        ),
      ]
    ),
    "header_element_4": Split(
      direction: Horizontal,
      panes: [
      (size: "100%", pane: Pane(Property(content: [
        (kind: Text("[ "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Song(Bits())),default: (kind: Text(" "), style: (fg: "#c0caf5")), style: (fg: "#c0caf5")),
        (kind: Text(" bit | "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Song(SampleRate())),default: (kind: Text(" "), style: (fg: "#c0caf5")), style: (fg: "#c0caf5")),
        (kind: Text(" Hz | "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(Bitrate)),default: (kind: Text(" "), style: (fg: "#c0caf5")),style: (fg: "#c0caf5")),
        (kind: Text(" kbps ]"),style: (fg: "#7aa2f7", modifiers: "Bold"))
        ], align: Left))
        ),
      ]
    ),
    "header_element_5": Split(
      direction: Horizontal,
      panes: [
      (size: "100%", pane: Pane(Property(content: [
        (kind: Property(Song(Artist)), style: (fg: "#7dcfff"),
            default: (kind: Text("Unknown Artist"), style: (fg: "#7dcfff"))),
        (kind: Text(" - "), style: (fg: "#c0caf5")),
        (kind: Property(Song(Album)),style: (fg: "#7aa2f7" ),
            default: (kind: Text("Unknown Album"), style: (fg: "#7aa2f7"))),
        ], align: Center, scroll_speed: 4))
        ),
      ]
    ),
    "header_element_6": Split(
      direction: Horizontal,
      panes: [
      (size: "100%", pane: Pane(Property(content: [
        (kind: Text("[ "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Song(Position)), style: (fg: "#c0caf5"),
            default: (kind: Text("0"), style: (fg: "#c0caf5"))),
        (kind: Text(" / "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(QueueLength())),style: (fg: "#c0caf5")),
        (kind: Text(" 󰴍 | "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(QueueTimeRemaining(separator: " "))),style: (fg: "#c0caf5")),
        (kind: Text(" / "),style: (fg: "#7aa2f7", modifiers: "Bold")),
        (kind: Property(Status(QueueTimeTotal(separator: " "))),style: (fg: "#c0caf5")),
        (kind: Text(" 󱎫"),style: (fg: "#7aa2f7", modifiers: "Bold")),
        ], align: Right))
        ),
      ]
    ),    "header_element_right_end": Split(
      direction: Horizontal,
      panes: [
      (size: "100%", pane: Pane(Property(content: [
        (kind: Text(" ]"),style: (fg: "#7aa2f7", modifiers: "Bold")),
        ], align: Right))
        ),
      ]
    ),
    "header_element_space": Split(
      direction: Horizontal,
      panes: [
      (size: "100%", pane: Pane(Property(content: [
        (kind: Text(" ")),
        ], align: Right))
        ),
      ]
    ),
  },
  lyrics:(timestamp: false),
  border_symbol_sets: {
    "rounded_collapsed_top": (
      parent: Rounded,
      top_left: "├",
      top_right: "┤",
    ),
  },
)
